<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#button').click(function(){
                var hash = window.location.hash;
                var token = hash.substring(hash.indexOf("=")+1);
                $.ajax({
                    url:'https://api.instagram.com/v1/users/self/media/recent?access_token='+token,
                    dataType: 'jsonp',
                    success:function(json){
                        $.each(json.data, function(key, value){
                            $("#images").append('<li><img src="'+value.images.standard_resolution.url+'"/></li>');

                        });
                        //alert("Success");
                    },
                    error:function(){
                        alert("Error");
                    }
                });
            });
        });
    </script>
</head>
<body>
<h1 id="welcome">Welcome!</h1>
<button id="button">images</button>
<div>
    <ul id="images">
    </ul>
</div>
</body>

</html>